:root {
  --primary-bg-color: #ffffff;
  --primary-text-color: #757575;
  --first-title-text-color: #212121;
  --second-title-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--first-title-text-color);
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Шапка */

.header {
  border: 1px solid #ececec;
}

.header > .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio {
  color: #000000;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-title-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/*contacts */

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.main-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-contacts:hover,
.main-contacts:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  max-width: 696px;
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-text-color);
}

.hero-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--second-title-text-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  color: var(--second-title-text-color);
}

/* Особливості */

.features-list {
  display: flex;
  gap: 30px;
}

.features-item {
  max-width: 270px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Робота */

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* Команда */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--primary-bg-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Підвал */

.footer {
  background-color: #2f303a;
}

.logo {
}

.footer-studio {
  color: var(--second-title-text-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-list {
  width: 231px;
}

.main-address {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-text-color);
}

.main-address:hover,
.main-address:focus {
  color: var(--accent-color);
}

.email,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

/* Стилі для портфоліо */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--first-title-text-color);
  background-color: #f5f4fa;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--second-title-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-item {
  border: 1px solid #eeeeee;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-text-color);
}

.project-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
